#
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example
MONGO_INITDB_DATABASE=cinergi
f_mongodb_collection:cinergi
f_mongobd_user:pipeline
f_mongodb_pwd:example
#
es_cluster=es-geoportal
es_node=elasticsearch

f_pluginDir=/data/foundry/consumer_plugins/plugins"
f_mongodb_host=mongodb
f_mongodb_port=27017
f_mongodb_collection=records

f_brokerURL="tcp://servicebus:61616?wireFormat.maxInactivityDuration=0"


f_scigraph_serviceURL="http://ec-scigraph.sdsc.edu:9000"
f_scigraph_stopwordsUrl="file:///data/cinergi/stopwords.txt"
f_waf_outDirectory="/tmp/waf"

f_gpt_gptURI="http://geoportal:8080/geoportal/"
f_gpt_elasticsearchIndex=metadata
f_gpt_user="admin"
f_gpt_password="pass"